<div id="a3">
    <div id="a2">
        <h1>Hello Welcome </h1>
        <h3>Create An Account</h3>
    </div>
    <form>
        <div id="a1">
            <div id="email">
                <label for="email">Email</label>
                <input required type="text" placeholder="Enter your Email">
            </div>
            <div id="password">
                <label for="password">Password</label>
                <input type="password" placeholder="Enter Your Password">
            </div>
        </div>
        <div id="button">
            <button>Submit</button>
        </div>
        <div id="span">
            <span>Already have an account? 
          <a routerLink="/login">signUp</a></span>
        </div>
    </form>
</div>