<div id="a3">
    <div id="img1">
        <img src="assets/Dermtech.png" alt="Login Image" id="loginImage">

    </div>
    <div id="a2">
        <h2 id="text1"><i>Welcome to Dermtech</i></h2>
    </div>
    <form>
        <div id="a1">
            <div id="email">
                <label for="email" id="text2">Email</label>
                <input required type="text" placeholder="Enter your Email">
            </div>
            <div id="password">
                <label for="password" id="text2">Password</label>
                <input type="password" placeholder="Enter Your Password">
            </div>
        </div>
        <div id="button">
            <button>Submit</button>
        </div>
        <div id="span">
            <span>Already have an account? 
          <a routerLink="/login">Login</a></span>
        </div>
    </form>
</div>