<header>
    <nav>
        <div class="logo">
            <a href="#">
                <img src="assets/Dermtech.png" alt="Dermtech Logo" id="logo">
            </a>
        </div>
        <ul class="nav-links">
            <li><a routerLink="/home">Home</a></li>
            <li><a href="#"><i class="fas fa-info-circle"></i> About Us</a></li>
            <li><a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        </ul>
        <div class="hamburger">
            <i class="fas fa-bars">
                
            </i>
        </div>
    </nav>
</header>
<div class="hero-container">
    <div class="card">
        <img src="/assets/Dermtech.png" alt="Hero Image" class="hero-image">
        <h1 id="texthead"><i>Upload Your Image Here</i></h1>
        <input type="file" (change)="onFileSelected($event)" class="file-input">
        <button (click)="onSubmit()" class="submit-button">Submit</button>
    </div>
</div>

<div *ngIf="errorMessage">
    <p style="color: red;">{{ errorMessage }}</p>
</div>
<div class="Result-container">
    <div class="card">
        <div *ngIf="predictedClass">
            <div class="diagnosis-result">
                <h3>Diagnosis Result:</h3>
                <p>Predicted Class: {{ predictedClass }}</p>
                <p>Confidence: {{ confidence | percent }}</p>

                <button (click)="knowMore()" class="know-more-button">Know More</button>
            </div>
        </div>
    </div>
</div>